[submodule "backend"]
	path = backend
	url = git@github.com:sajjadabd/newsapi-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = git@github.com:sajjadabd/newsapi-frontend.git
	branch = main
